#content-query{
 width: 800px;
 margin: auto;
 padding-top: 20px;
 padding-bottom: 10px;
}

#query{
 width: 780px;
 padding:10px;
 
}

#viewer{
 width: 800px;
 height: 500px;
 margin: auto;
 position: relative;
 border: 1px solid red;
 
}

#map-viewer{
 width: 800px;
 height: 500px;
 margin: auto;
 border: 1px solid red;
 
}

#tag-cloud{
 width: 800px;
 height: 300px;
 border: 1px solid red;
 margin: auto;
}
