/* HEADER */
#wrap-header{
   width: 100%;
   height: 55px;
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   z-index: 1;
   border-bottom: 3px dashed #E2E2E2;
}


#header{
   width: 100%;
   background-color: #3F484F;
   height: 50px;
   position: absolute;
   top: 0px;
   left: 0px;
   right: 0px;
   z-index: 1;
}

#container{
   width: 1080px;
   position: relative;
   margin: auto;
   z-index: 2;
}

#logo{
   position: absolute;
   left: 30px;
}

#header-menu{
  width: 1080px;
  text-align: center;
  border: 1px solid red;
  height: 40px;
}

/* FINDING */


#wrapper{
  position: absolute;
  top: 150px;
  left: 0px;
  right: 0px;
}

#content-discovery{
 width: 800px;
 margin: auto;
 position: relative;
 padding-bottom: 30px; 
}

#content-query{
 padding-top: 10px;
}

#query{
 width: 780px;
 padding:10px;
 height: 30px;
 
}

#pager-header{
  border: 1px solid red;
  height: 10px;
}

#viewer{
 width: 800px;
 height: 500px;
 margin: auto;
 position: relative;
 border: 1px solid red;
 
}

#map-viewer{
 width: 800px;
 height: 500px;
 margin: auto;
 border: 1px solid red;
 
}

#tag-cloud{
 width: 800px;
 height: 300px;
 border: 1px solid red;
 margin: auto;
}
