#viewer{
 width: 800px;
 height: 500px;
 margin: auto;
 position: relative;
 border: 1px solid red;
 
}

#map-viewer{
 width: 800px;
 height: 500px;
 margin: auto;
 border: 1px solid red;
 
}

#tag-cloud{
 width: 1000px;
 height: 300px;
 border: 1px solid red;
 margin: auto;
}