#discovery{
  position: absolute;
  top: 60px;
  right: 0px;
  bottom: 60px;
  width: 450px;
  background-color: #3F484F;
  overflow:auto;
  /*border-radius*/
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  padding: 10px;

}

#discovery-button{
  position:absolute;
    top:5px;
    left:0px;
    bottom: 0px;
    font-size: 15px;
    width:20px;
    z-index:150;
    height: 100px;
    cursor: pointer;
    cursor: hand;
    padding-left: 5px;
}

.result-item{
  border: 1px dashed gray;
  margin-top: 5px;
  margin-bottom: 5px;
  padding: 5px;
  position: relative;
  height: auto;
  width: 400px;
  color:#aaad8e;
}

.result-left{
  width: 380px;
  left: 0px;
  top:0px;
}

.result-left h3{
  font-size: 14px;
  font-weight: bold;
}

.result-left p{
  font-size: 12px;
  font-weight: normal;
}

.result-category{
  background-color: #666;
  padding: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  /*border-radius*/
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  box-shadow: 0px 1px 1px rgba(0,0,0,.25);
}

.response_twitts{
  margin-top: 10px;
  background-color: #666;
  padding: 10px;
  color: white;
  font-size: 12px;
  font-weight: bold;
  /*border-radius*/
  -webkit-border-radius:4px;
  -moz-border-radius:4px;
  border-radius:4px;
  -webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
  box-shadow: 0px 1px 1px rgba(0,0,0,.25);
}

navigation-text-search{
  height: 20px;
  color: white;
}

#pager{
  text-align: center;
  padding: 5px;

}

#pager li {
  list-style:none;
}

#navigation-text-search {
  margin-bottom:4px;
  text-align: center;
  padding: 10px;
}

#pager li a,#pager li span {
  text-align:center;
  display:inline-block;
  margin-right:2px;
  min-width:18px;
  padding-left:2px;
  padding-right:2px;
}

#pager li a {
 
}

#pager li a:hover {
  text-decoration:none;
}

#pager li span {
  border:solid 1px transparent;
}

#pager li,.links li {
  list-style:none outside none; 
  /*  list-style-type:circle; */
  display:inline;
}



