/* 
=================================================================== */
/* 	Orange 		#f5c056
	Dark Orange #daac50
	Orange RGBA rgba(245, 192, 86, 0.8);
=================================================================== */

h1, h2, h3, h4, h5, h6 {
}

.title h1, .title h2, .title h3, .title h4, .title h5, .title h6 {
	border-bottom: 5px double #f5c056;
	margin-bottom: -4px;
	display: inline-block;
	padding: 0px 10px;
	margin-left:15px;
	margin-right:15px;
}

#wrapper {

}

a, a:visited {
	color: #f5c056;
}
/* Header
=================================================================== */
 
#under-header {
	background: #f5c056;
}

#close-contact:hover {
	background: #f5c056 url(../../images/icons/eject.png) no-repeat 9px 9px;
}

/* Navigation
=================================================================== */

#navigation ul li a:hover {
	background: #f5c056;
	color: #000;
}

#navigation ul ul {
	background: #f5c056;
}

#navigation ul ul li a {color: #fff;}

#navigation ul ul li:hover > a {
	color: #fff;
	background-color: #daac50 !important;
}

#navigation ul li a:hover, 
#navigation ul li:hover > a {
	background: #f5c056 !important;
	color: #fff !important;
}

#navigation ul li a.active, 
#navigation ul li.active > a {
	color: #fff;
}

#navigation ul li a.active:hover, 
#navigation ul li.active > a:hover {
	background: #f5c056;
	color: #fff;
}

#navigation ul ul li a.active, 
#navigation ul ul li.active > a {
	background: #f5c056;
}

/* Page title
=================================================================== */

#page-title h2 {
	background: #f5c056;
	outline: 1px solid #f5c056;

}

/* Slider
=================================================================== */

.flex-direction-nav .flex-prev:hover, 
.flex-direction-nav .flex-next:hover, 
#scroll-top-top a, 
.post-icon {
	background-color:#f5c056;
}

.mr-rotato-prev:hover, 
.mr-rotato-next:hover,
li.current, 
.tags a:hover {
	background-color: #f5c056;
	border-color: #f5c056;
}

#filters a:hover, 
.selected, 
#portfolio-navi a:hover {
	background-color: #f5c056 !important;
	border: 1px solid #f5c056 !important;
}

.flickr-widget a:hover {border-color: #f5c056;}

.field label span {color:#f5c056; font-weight: bold}

.flex-direction-nav a {
	background: rgba(245, 192, 86, 0.8);
}

.slide-caption {
	background: rgba(245, 192, 86, 0.8);
}

.slide-caption.n {
	background: rgba(245, 192, 86, 0.8);
}

/* Team
=================================================================== */

.team-name span {
	font-size: 12px;
	font-weight: bold;
	color: #f5c056;
}

/* Pricing Table
=================================================================== */

.pricing-table .color-custom h3, .color-custom .buy {background-color: #daac50;}
.pricing-table .color-custom h4 {background-color: #f5c056;}

.testimonials-author {
	color: #f5c056;
}

a.post-entry {
	color: #f5c056;
}

/* Pictures
=================================================================== */

.image-overlay-link,
.image-overlay-zoom {
	background-color: #f5c056;
	background: rgba(245, 192, 86, 0.7);
	background-repeat: no-repeat;
	background-position: 50%;
}

.image-overlay-link {
	background-image: url(../../images/overlay-icon-01.png);
}

.image-overlay-zoom {
	background-image: url(../../images/overlay-icon-02.png);
}

/* Progress Bar
=================================================================== */

.meter > span:after, 
.animate > span > spans li.current {
	background:#f5c056;
}


/* Notice
=================================================================== */

.large-notice {
	border-left: 4px solid #f5c056;
}

.bcolor {
	color: #f5c056;
}

/* List styles
=================================================================== */	

.check_list li {background: url(../../images/icons/list/orange/list_check.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.plus_list  li {background: url(../../images/icons/list/orange/list_plus.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.minus_list  li {background: url(../../images/icons/list/orange/list_minus.png) no-repeat 0% 50%; padding: 0 0 0 18px;}
.star_list  li {background: url(../../images/icons/list/orange/list_star.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.arrow_list  li {background: url(../../images/icons/list/orange/list_arrow.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.square_list  li {background: url(../../images/icons/list/orange/list_square.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.circle_list  li {background: url(../../images/icons/list/orange/list_circle.png) no-repeat 0% 50%; padding: 0 0 0 16px;}
.cross_list  li {background: url(../../images/icons/list/orange/list_cross.png) no-repeat 0% 50%; padding: 0 0 0 16px;}

.project-info strong {
	color: #f5c056;
}

/* Buttons
=================================================================== */

.button.color {color:#fff; background:#f5c056;}
.button.color:hover {background:#aaa;}

input[type="button"] {
	background: #f5c056;
	color: #fff;
}

/* Dropcap
=================================================================== */

.dropcap.color {
	background: #f5c056;
	color: #fff;
}

/* Icons
=================================================================== */

.ico-color {
	background-image: url("../../images/icons/orange/glyphicons.png");
	opacity: 1;
}

.mini-color {
  background-image: url("../../images/icons/orange/glyphicons-mini.png");
  opacity: 1;
}

.circle {
	-webkit-border-radius: 50em;
	-moz-border-radius: 50em;
	border-radius: 50em;
	background-color: #f5c056 !important;
	-webkit-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
	   -moz-box-shadow: 0px 1px 1px rgba(0,0,0,.25);
		    box-shadow: 0px 1px 1px rgba(0,0,0,.25);
	margin: 0 auto;
}

.big {
	border: 15px solid #f5c056 !important;
}

/* Footer
=================================================================== */

#footer h3 {

}

/* Quotes
=================================================================== */

.quote, .author {
	background: #f5c056;
}

/* Slider Parallax
=================================================================== */

.da-slider{
	background: transparent url(../../images/orange/slider.jpg) repeat 0% 0%;
	border: 1px solid #f5c056;
}

.da-slide p{
	color: #daac50;
}

.da-dots span{
	background: #f5c056;
}

.da-arrows span{
	background: #f5c056;
}

/* Hover
=================================================================== */

.view h2 {
   background: #f5c056;
}

.view a.info {
   background: #f5c056;
}

.view-portfolio .mask {
   background: rgba(245, 192, 86, 0.7);
}

.view-team .mask {
   background-color: rgba(245, 192, 86, 1);
}
